force-app/main/default/flows/Gift_Aid_Record_Creation_Handler_Subflow.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>67.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>Create_Gift_Aid_Record</name>
        <label>Create Gift Aid Record</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>giftAidRecord.Contact__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>contactId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>giftAidRecord.Source__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>gaSource</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>giftAidRecord.Address_City__c</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>giftAidRecord.Address_Line_1__c</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>giftAidRecord.Address_Post_Code__c</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>giftAidRecord.Address_Post_Code__c</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <connector>
            <targetReference>Commit_Gift_Aid_Declaration</targetReference>
        </connector>
    </assignments>
    <environments>Default</environments>
    <interviewLabel>Gift Aid Hanlder {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Gift Aid Record Creation Handler Subflow</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Commit_Gift_Aid_Declaration</name>
        <label>Commit Gift Aid Declaration</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <inputReference>giftAidRecord</inputReference>
    </recordCreates>
    <start>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Create_Gift_Aid_Record</targetReference>
        </connector>
    </start>
    <status>Draft</status>
    <variables>
        <name>contactId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>gaSource</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>giftAidRecord</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Gift_Aid_Declaration__c</objectType>
    </variables>
</Flow>
