force-app/main/default/flows/Gift_Aid_Declaration_BeforeSave_Set_GAD_Values.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>67.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>Set_Active_Flag</name>
        <label>Set Active Flag</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>$Record.IsActive__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>EstimatedActive</elementReference>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <name>Set_GAD_Start_Date</name>
        <label>Set GAD Start Date</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>$Record.Start_Date__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>EstimatedStartDate</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Set_Active_Flag</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Is_Start_Date_Blank</name>
        <label>Is Start Date Blank</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>Set_Active_Flag</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Start_Date__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_GAD_Start_Date</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <description>Sets the GAD values on save for Gift Aid Declarations</description>
    <environments>Default</environments>
    <formulas>
        <name>EstimatedActive</name>
        <dataType>Boolean</dataType>
        <expression>AND(
    NOT(ISBLANK($Record.Start_Date__c)),
    $Record.Start_Date__c &lt;= TODAY(),
    OR(
        ISBLANK($Record.End_Date__c),
        $Record.End_Date__c &gt;= TODAY()
    )
)</expression>
    </formulas>
    <formulas>
        <name>EstimatedStartDate</name>
        <dataType>Date</dataType>
        <expression>IF(
    ISBLANK({!$Record.Declaration_Date__c}),
    NULL,
    IF(
        {!$Record.Declaration_Date__c} &lt; DATE(YEAR({!$Record.Declaration_Date__c}), 4, 6),
        DATE(YEAR({!$Record.Declaration_Date__c}) - 5, 4, 6),
        DATE(YEAR({!$Record.Declaration_Date__c}) - 4, 4, 6)
    )
)</expression>
    </formulas>
    <interviewLabel>Gift Aid Declaration - BeforeSave - Set GAD Values {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Gift Aid Declaration - BeforeSave - Set GAD Values</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <start>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Is_Start_Date_Blank</targetReference>
        </connector>
        <object>Gift_Aid_Declaration__c</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordBeforeSave</triggerType>
    </start>
    <status>Active</status>
</Flow>
